.DS_Store
/2025-02-18/Storefront/.idea
/2025-02-18/Storefront/Storefront.Api/obj
/2025-02-18/Storefront/Storefront.Api/bin
/2025-02-25/Storefront/.idea
/2025-02-25/Storefront/Storefront.Api/bin/
/2025-02-25/Storefront/Storefront.Api/obj
/2025-03-11/Storefront/.vs
/2025-03-11/Storefront/Storefront.Api/bin/Debug/net8.0
/2025-03-11/Storefront/Storefront.Api/obj
/2025-03-11/Storefront/Storefront.Api/Storefront.Api.csproj.user
/2025-03-11/Storefront/Storefront.Persistence/bin/Debug/net8.0
/2025-03-11/Storefront/Storefront.Persistence/obj
/2025-03-11/Storefront/.idea/.idea.Storefront/.idea
/2025-03-18/Storefront/.vs
/2025-03-18/Storefront/Storefront.Api/bin
/2025-03-18/Storefront/Storefront.Api/obj
/2025-03-18/Storefront/Storefront.Api/Storefront.Api.csproj.user
/2025-03-18/Storefront/Storefront.Persistence/bin
/2025-03-18/Storefront/Storefront.Persistence/obj
/2025-03-18/Storefront/Storefront.Api.Contracts/bin
/2025-03-18/Storefront/Storefront.Api.Contracts/obj
/2025-03-18/Storefront/Storefront.Services/bin
/2025-03-18/Storefront/Storefront.Services/obj
/2025-03-18/Storefront/.idea/.idea.Storefront/.idea/indexLayout.xml
/2025-03-18/Storefront/.idea/.idea.Storefront/.idea

VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/.idea
VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/TreinAbonnementen.Persistence/bin
VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/TreinAbonnementen.Persistence/obj
VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/TreinAbonnementen.Service/bin
VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/TreinAbonnementen.Service/obj
VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/TreinAbonnementen.Api/bin
VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/TreinAbonnementen.Api/appsettings.Development.json
VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/TreinAbonnementen.Api/obj
VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/TreinAbonnementen.Api.Contracts/bin
VoorbeeldOplossingen/TreinAbonnementen/TreinAbonnementen/TreinAbonnementen.Api.Contracts/obj

/2025-04-01/Dierenarts/Dierenarts/bin
/2025-04-01/Dierenarts/Dierenarts/obj
/2025-04-01/Dierenarts/.idea
/2025-04-01/Dierenarts/global.json

/.idea/.idea.pg2.dir/.idea

/VoorbeeldOplossingen/Fototoestellen/.idea
/VoorbeeldOplossingen/Fototoestellen/FotoToestellen.sln.DotSettings.user
/VoorbeeldOplossingen/Fototoestellen/global.json
/VoorbeeldOplossingen/Fototoestellen/FotoToestellenApp/bin
/VoorbeeldOplossingen/Fototoestellen/FotoToestellenApp/obj

/.idea/.gitignore
/.idea/indexLayout.xml
/.idea/vcs.xml
/2025-05-06/AsyncDemo/.idea

/2025-05-06/AsyncDemo/SuperLibrary/obj
/2025-05-06/AsyncDemo/SuperLibrary/bin
/2025-05-06/AsyncDemo/AsyncDemo/obj
/2025-05-06/AsyncDemo/AsyncDemo/bin
/2025-05-06/AsyncDemo/SuperModel/obj
/2025-05-06/AsyncDemo/SuperModel/bin

/2025-05-06/AsyncParallelCursus/AsyncParallelCursus/obj
/2025-05-06/AsyncParallelCursus/AsyncParallelCursus/bin

/2025-05-06/AsyncParallelCursus/.idea

/2025-05-13/**/bin
/2025-05-13/**/obj
**/.idea
**/.DS_Store
/2025-05-13/**/*.Development.json

**/bin
**/obj
**/.vs
2026-03-27/Scaffolding Afwerken/WebShoppie/WebShoppie.sln.DotSettings.user
